.header {
    background-color: rgba(255, 68, 0, 0.705);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    padding: 20px;
}
.header__container {
}
.header__content {
    padding: 10px;
    text-align: center;
    position: relative;
}
.header__link {
    font-size: 40px;  
}
.header__link span {
    position: relative;
}
.header__link::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: orange;
    transition: all 0.5s;
    transform: skew(-20deg, 0);
}
.header__link:hover::before{
    transform: skew(20deg, 0);
}
.header__link:hover {
    text-decoration: underline;
}
