.header {
    background-color: #e6e6e6c4;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    border-bottom: 3px solid #0E333D;
}
.header__container {
}
.header__tilte {
    font-size: 35px;
    color: #0E333D;
    font-family: "Inter", sans-serif;
    font-weight: 800;
}