@import url("fonts.css");
/*-------------------------------------------------------*/
@import url("reset.css");
/*-------------------------------------------------------*/
@import url("header.css");
@import url("footer.css");
/*-------------------------------------------------------*/
body {
    font-family: "Inter", sans-serif;
}
.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
/*-------------------------------------------------------*/
.page__gold {}
.page__ring {}
.page__week {}
/*-------------------------------------------------------*/
[class*=__container] {
    max-width: 1203px;
    margin: 0 auto;
    padding: 0px 30px;
}
/*--------------------------RING-----------------------------*/
.ring {
    padding-top: 100px;
    padding-bottom: 35px;
}
.ring__container {
}
.ring__body {
    font-family: "Cormorant Infant", sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ring__text {
}
.gold-text,
.ring-text {
    display: flex;
    row-gap: 27px;
    flex-direction: column;
    align-items: center;
}
.ring-text:not(:last-child) {
    margin-bottom: 62px;
}
.ring-text__title {
    color: #291403;
    font-size: 58px;
    font-family: "DM Serif Text", sans-serif;
    text-transform: capitalize;
}
.ring-text__label {
    text-transform: capitalize;
    color: #818181;
    font-size: 30px;
    line-height: 1.40; /* 42/30 */
}
.gold__block,
.ring__block {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    margin: 0 -15px;
}
.ring-block {
}
.ring-block:not(:last-child) {
    margin-bottom: 76px;
}
.gold-block__item,
.ring-block__item {
    padding: 0 15px;
    flex: 0 0 25%;
}
.ring-item { 
}
.ring-item__card {
}
.gold-card,
.ring-card {
    display: flex;
    flex-direction: column;
    gap: 17px;
    min-height: 100%;
}
.gold-card__img,
.ring-card__img {
    aspect-ratio: 271/270;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #818181;
}
.ring-card__content {
}
.content-gold,
.content-ring {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
}
.content-ring__label {
}
.content-ring__price {
}
.ring__link-more {
    padding: 12px 42px;
    background-color: #FF7A49;
    font-family: "Ubuntu", sans-serif;
    color: white;
    font-size: 16px;
    line-height: 1.87; /* 30/16 */
    transition: background-color 0.3s;
    text-align: center;
}
@media (any-hover: hover) {
	.ring__link-more:hover {
        background-color: #f55a22;
	}
    .gold-card:hover .content-gold,
    .ring-card:hover .content-ring {
        text-decoration: underline;
    }
    .gold__link:hover::after {
        transform-origin: left;
        transform: scaleX(1);
    }
}
@media (max-width: 1077px) {
    .gold-block__item,
    .ring-block__item {
        flex: 0 0 33.333%;
    }
    .ring-text:not(:last-child) {
        margin-bottom: 52px;
    }
}
@media (max-width: 815px) {
    .gold-block__item,
    .ring-block__item {
        flex: 0 0 50%;
    }
    .ring-text:not(:last-child) {
        margin-bottom: 42px;
    }
}
@media (max-width: 608px) {
    .ring-text__title {
        font-size: 40px;
    }
}
@media (max-width: 553px) {
    .gold-block__item,
    .ring-block__item {
        flex: 0 0 100%;
    }
    .ring-text:not(:last-child) {
        margin-bottom: 32px;
    }
    .ring-block:not(:last-child) {
        margin-bottom: 40px;
    }
    .ring__link-more {
        width: 100%;
        font-size: 20px;
    }
}
@media (max-width: 320px) {
    .gold-card,
    .ring-card {
        margin: 0 -15px;
    }
}
/*-------------------------------------------------------*/
.gold {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #0E333D;
    color: #FFFFFF;
}
.gold__container {
}
.gold__body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gold__text {
}
.gold-text {
    gap: 23px;
}
.gold__list--mb:not(:last-child),
.gold-text:not(:last-child) {
    margin-bottom: 77px;
}
.gold-text__title {
    font-family: "DM Serif Text", sans-serif;
    font-size: 48px;
    line-height: 1.27; /* 61/48 */
}
.gold-text__label,
.gold-text__list {
    font-family: "Raleway", sans-serif;
}
.gold-text__label {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25; /* 25/20 */
}
.gold__list {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.27; /* 23/18 */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 41px;
    row-gap: 20px;
}
.gold__item {
}
.gold__link {
    position: relative;
    display: inline-block;
}
.gold__link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}
.gold-block {
}
.gold-block__item {
}
.gold-item {
}
.gold-item__card {
}
.gold-card__content {
}
.content-gold {
    font-family: "Cormorant Infant", sans-serif;
    font-size: 24px;
    line-height: 1.41; /* 34/24 */
}
.content-gold__label {
}
.content-gold__price {
}
@media (max-width: 1077px) {
    .gold {
        padding-top: 74px;
        padding-bottom: 74px;
    }
    .gold__list--mb:not(:last-child),
    .gold-text:not(:last-child) {
        margin-bottom: 70px;
    }
}
@media (max-width: 815px) {
    .gold {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .gold__list--mb:not(:last-child),
    .gold-text:not(:last-child) {
        margin-bottom: 60px;
    }
}
@media (max-width: 608px) {
    .gold {
        padding-top: 54px;
        padding-bottom: 54px;
    }
    .gold__list--mb:not(:last-child),
    .gold-text:not(:last-child) {
        margin-bottom: 50px;
    }
}
@media (max-width: 553px) {
    .gold {
        padding-top: 44px;
        padding-bottom: 44px;
    }
    .gold-text__title {
        font-size: 38px;
    }
    .gold__list--mb:not(:last-child),
    .gold-text:not(:last-child) {
        margin-bottom: 40px;
    }
}
@media (max-width: 320px) {
    .gold {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .gold-text:not(:last-child) {
        margin-bottom: 30px;
    }
}
/*-------------------------------------------------------*/
.week {
    padding-top: 125px;
    padding-bottom: 114px;
    background:#FEFAF4 url(../img/week/decor.png) right bottom no-repeat;
}
.week__container {
}
.week__body {
}
.week__text {
}
.week-text {
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.week-text:not(:last-child) {
    margin-bottom: 53px;
}
.week-text__title {
    font-family: "DM Serif Text", sans-serif;
    font-size: 58px;
    text-transform: capitalize;
}
.week-text__label {
    color: #606060;
    font-size: 20px;
    line-height: 1.80; /* 36/20 */
    text-transform: capitalize;
}
.week__block {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    margin: 0 -24px;
}
.week-block {
}
.week-block__item {
    padding: 0 24px;
    flex: 0 0 33.333%;
}
.week-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.week-item__img {
    overflow: hidden;
}
.week-item__img img {
    aspect-ratio: 357/240;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #818181;
    transition: all 0.3s;
}
.week-item__content {
}
.content-week {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
}
.content-week__label {
    font-family: "DM Serif Text", sans-serif;
    font-size: 24px;
    line-height: 1.20; /* 29/24 */
}
.content-week__text {
    line-height: 1.62; /* 26/16 */
}
.week-item__link {
    line-height: 1.50; /* 24/16 */
    font-weight: 800;
    color: #F55529;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.week-item__link::after {
    content: "";
    background: url(../img/week/arrow.svg) 0 0 no-repeat;
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
}
@media (any-hover: hover) {
    .week-item:hover .week-item__link {
        text-decoration: underline;
    }
    .week-item:hover .week-item__img img{
        transform: scale(1.1);
    }
}
@media (max-width: 900px) {
    .week-block__item {
        flex: 0 0 50%;
    }
    .week {
        padding-top: 90px;
        padding-bottom: 70px;
    }
}
@media (max-width: 650px) {
    .week-text__title {
        font-size: 40px;
    }
    .week-text:not(:last-child) {
        margin-bottom: 20px;
    }
    .week-block__item {
        flex: 0 0 100%;
    }
    .week {
        padding-top: 60px;
        padding-bottom: 40px;
        background: #FEFAF4;
    }
    .week-item__link {
        font-size: 25px;
    }
}
@media (max-width: 400px) {
    .week {
        padding-top: 30px;
        padding-bottom: 20px;
    }
}
