@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:700&display=swap");
@font-face {
	font-family: "Causten";
	src:
		url("../fonts/CaustenRegular.woff2") format("woff2"),
		url("../fonts/CaustenRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Causten";
	src:
		url("../fonts/CaustenMedium.woff2") format("woff2"),
		url("../fonts/CaustenMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Causten";
	src:
		url("../fonts/CaustenSemiBold.woff2") format("woff2"),
		url("../fonts/CaustenSemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Causten";
	src:
		url("../fonts/CaustenBold.woff2") format("woff2"),
		url("../fonts/CaustenBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
/*==================================================================*/
@font-face {
	font-family: "CoreSans";
	src:
		url("../fonts/CoreSansC-65Bold.woff2") format("woff2"),
		url("../fonts/CoreSansC-65Bold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}